.container {
  max-width: 1170px;
  margin: 0 auto;
}

.underline-red,
.underline-green {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    background-color: #ff6b00;
    z-index: -1;
  }
}

.underline-green::before {
  background-color: #a7c93d;
}

.bold {
  font-weight: bold;
}

.color-red {
  color: #ff6b00;
}

.fz-s {
  font-size: 16px;
  line-height: 16px;
}

.color-green {
  color: #9dbd39;
}

.italic {
  font-style: italic;
  font-size: 16px;
  color: #666;
}
